.gray,
.green {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.gray {
  background-color: gray;
}
.green {
  background-color: green;
}

.bgray {
  background-color: gray;
  padding: 10px;
  color: white;
}
.bgreen {
  color: white;
  padding: 10px;
  background-color: green;
}
